<%- layout('listings/layouts/boilerplate') %>  

  <!-- <h3>All Listings</h3> -->
  <br>
  <!-- <form method="GET" action="/listings/new">
    <button>Create New Listing</button>
  </form> -->
  <style>
    #filters {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
    .filter {
      text-align: center;
      gap: 0.5rem;

      align-items: center;
      padding: 0.5rem;
      border-radius: 0.5rem;
      opacity: 0.7;
      
    }
    .filter:hover {
      opacity: 1;
      cursor: pointer;
    }
    .filter div {
      font-size: 1.5rem;
    }
    .cardlinks {
      text-decoration: none;
      color: black;
    }

    .tax-info {
      display: none;
    }
    
    .tax-toggle {
      display: flex;
      align-items: center;
      border: 1px solid black;
      border-radius: 1rem;
      padding: 0.5rem;
      margin-top: 0.5rem;
      margin-left: 4.7rem;
      height: 3rem;
    }

  </style>
  <div id="filters">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div> <p>Popular</p>
       </div>
       <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div> <p>Rooms</p>
         </div>
         <div class="filter">
          <div><i class="fa-solid fa-city"></i></div> <p>Iconic Cities</p>
           </div>
           <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i>></div> <p>Swimming</p>
             </div>
           <div class="filter">
            <div><i class="fa-solid fa-mountain-sun"></i></div> <p>Mountains</p>
             </div>
             <div class="filter">
              <div><i class="fa-brands fa-fort-awesome"></i></div> <p>Forts</p>
               </div>
                   <div class="filter">
                    <div><i class="fa-solid fa-umbrella-beach"></i></div> <p>Beach</p>
                     </div>
                     <div class="filter">
                      <div><i class="fa-solid fa-igloo"></i></div> <p>Domes</p>
                       </div>
                       <div class="filter">
                        <div><i class="fa-solid fa-sailboat"></i></div> <p>Boats</p>
                         </div>
                         <div class="filter">
                          <div><i class="fa-solid fa-campground"></i></div> <p>Camping</p>
                           </div>
                             <div class="filter">
                              <div><i class="fa-regular fa-snowflake"></i></div> <p>Artic</p>
                               </div>
                               <div class="filter">
                                <div><i class="fa-regular fa-heart"></i></div> <p>Liked</p>
                                 </div>
                               <div class="tax-toggle">
                                <div class="form-check-reverse form-switch">
                                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                  <label class="form-check-label" for="flexSwitchCheckDefault"><b>Display total afer taxes</b></label>
                                </div>
                               </div>
                             
  </div>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of allListings) { %>
      <a href="/listings/<%= listing._id %>" class="cardlinks">
      <div class="card col">        
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_img" style="height: 20rem;">
        <div class="card-img-overlay">⭐️⭐️⭐️⭐️⭐️</div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b> <br> 
            &#8377;<%= (listing.price != null ? listing.price : 0).toLocaleString("en-IN") %> / night <b class="tax-info">&nbsp;+18% GST</b> <br>
          </p>
        </div>
      </div>
    </a>
     <% } %>
  </div>

  <!-- <ul>
    <% for(let listing of allListings) { %>
      <li><a href="/listings/<%= listing._id %>"> <%= listing.title %> </a></li>
    <% } %>
  </ul> -->

  <script>
    let taxSwitch = document.querySelector("#flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", () => {
      let taxInfo = document.querySelectorAll(".tax-info");
      for(info of taxInfo) {
        if(info.style.display != "inline") {
          info.style.display = "inline";
        } else {
          info.style.display = "none";
        }
      }
    });
  </script>